/*GENERAL STYLES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html{
  font-size: 16px;
}

:root{
    --list-text-bg: #64607D;
    --btn-bg: #457B9D;
    --headings-color: #1D3557;
    --imperial-red: #E63946;
    --btn-bg-hover: #5da1cc;
    --normal-text: #000;
}

@font-face {
  font-family: Roboto-Black;
  src: url(assets/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(assets/fonts/Roboto-Thin.ttf);
}

ul,
nav {
  list-style: none;
}

.btn{
  padding: 12px 15px;
  background-color: var(--btn-bg);
  color:#fff;
  border-style: none;
  border-radius: 20px;
  font-family: Roboto-Regular;
  font-size: 18px;
}

.btn:hover{
background-color: var(--btn-bg-hover);
}

.heading{
font-family: Roboto-Bold;
color: var(--headings-color);
font-size: 40px;
}

.description{
font-family: Roboto-Light;
color: var(--normal-text);
font-size: 20px;
line-height: 1.4;
}

/* NAV BAR*/

.navbar {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px 80px 0;
  }
  
  .brand-title {
    font-size: 30px;
    font-family: Roboto-Bold;
    color: #000;
    margin: 0.5rem;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    padding: 1.5rem;
    display: block;
  }
  
  /* Toggle */
  .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
/* /.NAV BAR */

/* HERO SECTION*/

/* /.HERO SECTION */

/* ABOUT */

/* ABOUT */

/* HOW DOES IT WORK? */

/* HOW DOES IT WORK */

/* FOR BUSINESS */

/* FOR BUSINESS */

/* FEATURES THAT BLOWS MIND */

/* FEATURES THAT BLOWS MIND */


/* BANNER */

/* BANNER */



/* FOOTER */


/* FOOTER */